{% extends 'base.html.twig' %}

{% block body %}

    <div class="column">
        <div class="row">
            {{ include('menu.html.twig') }}
        </div>

        <div class="row">
            {{ include('messages.html.twig') }}
        </div>

        <div class="row">
            <h1>Product edit</h1>
        </div>

        <div class="row">
            {{ form_start(form, { 'attr' : { 'class' : 'ui form' } }) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
