{% extends '@App/base.html.twig' %}

{% block body %}

<div class="column">
    <div class="row">
        {{ include('@App/menu.html.twig') }}
    </div>

    <div class="row">
        {{ include('@App/messages.html.twig') }}
    </div>

    <div class="row">
        <h1>Manufacturer edit</h1>
    </div>

    <div class="row">
        {{ form_start(form, { 'attr' : { 'class' : 'ui form' } }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
